@import "../../colors";

@media only screen and (min-width: 1001px) {
  .hidden-desktop {
    display: none;
  }

  .header {
    padding-bottom: 16px;
  }

  .banner-image-container {
    background-color: #eaeaea;
  }
}

@media only screen and (max-width: 1000px) {
  .hidden-mobile {
    display: none;
  }
  .header {
    padding-bottom: 0.5rem;
  }
  .hamburger-container {
    padding-top: 0.5rem;
  }
}

.hamburger, .hamburger.is-active {
  .hamburger-inner {
    background-color: #008073;
  }

  .hamburger-inner::before {
    background-color: #008073;
  }

  .hamburger-inner::after {
    background-color: #008073;
  }
}

.language-selector {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.theme {
  background-color: #FFFFFF;
}

.name-title {
  padding-top: 0.5rem;
  text-align: center;
  width: 100%;
  position: absolute;
}

.name {
  font-size: 22px;
  color: #008073;
}

.function {
  font-size: 14px;
  color: #795548;
}

.dropdown-nav-options {
  padding-left: 10px;
}

.hamburger {
  outline: unset;
}

.banner-image {
  width: 10rem;
  height: 10rem;
  padding: 1.25rem;
}
