<ul class='navbar-nav'>
  <ng-container *ngFor='let navigationOption of navigationOptions'>
    <li class='nav-item' [ngClass]='getActive(navigationOption.path)'
        (click)='clickNavigation()'
        routerLink='{{navigationOption.path}}'
        [attr.data-navigation-option]='navigationOption.text'
        [style.border-left-color]='navigationOption.iconColor'>
      <div class="float-container">
        <div class='float-child-1 icon'>
          <fa-icon [icon]='navigationOption.icon' [style.color]='navigationOption.iconColor'></fa-icon>
        </div>
        <div class='float-child-2 text'>{{navigationOption.text}}</div>
      </div>
    </li>
  </ng-container>
</ul>
