@import "../../../colors";


@media only screen and (min-width: 1001px) {
  .navbar-nav {
    border-top: solid 1px #ddd;
  }
  .active {
    border-left: 4px solid;
    background-color: #fbfbfb;
  }
}

.nav-item {
  color: #333;
}

.nav-item:hover {
  background-color: #fafafa;
  transition: background-color 0.2s ease, border-left-width 0.2s ease;
  cursor: pointer;
}

.nav-item:hover {
  border-left: 4px solid;
}

.nav-item {
  font-size: 2rem;
}

.float-child-1 {
  width: 3rem;
  float: left;
}

.float-child-2 {
  padding-left: 1rem;
  float: left;
}

.icon {
  text-align: center;
}

.text {
  font-size: 16px;
  display: block;
  line-height: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
}
