<div class='app-container'>
  <div class='header-container'>
    <app-header></app-header>
  </div>
  <main class="body">
    <router-outlet></router-outlet>
  </main>
</div>
<footer class="footer">
  <div class="text-center">
    <ul class="social-media-list">
      <li>
        <a href="https://www.linkedin.com/in/dieterjordens"><fa-icon [icon]='faLinkedin'></fa-icon></a>
      </li>
      <li>
        <a href="https://twitter.com/Dieter_Jordens"><fa-icon [icon]='faTwitter'></fa-icon></a>
      </li>
      <li>
        <a href="https://dieterjordens.medium.com/"><fa-icon [icon]='faMedium'></fa-icon></a>
      </li>
      <li>
        <a href="mailto:dieter.jordens.consulting@gmail.com"><fa-icon [icon]='faEnvelope'></fa-icon></a>
      </li>
    </ul>
    <span><fa-icon [icon]='faCopyRight'></fa-icon> Dieter Jordens IT Consulting | BE 0767.861.205</span>
  </div>
</footer>
