.page-title {
  font-weight: 200;
  padding: 2rem 5rem;
  text-transform: uppercase;
  margin: 0;
  background-color: #008073 !important;
  color: #FFFFFF !important;
}

.header {
  background-color: #31525b;
  color: #fff;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

@media only screen and (max-width: 400px) {
  .header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .download-button-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .cv-frame {
    display: none;
  }
}

@media only screen and (min-width: 401px) and (max-width: 1000px) {
  .header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .download-button-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .cv-frame {
    display: none;
  }
}

@media only screen and (min-width: 1001px) {
  .header {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .download-button-container {
    display: none;
  }
  .cv-frame {
    padding: 1rem;
  }
}

.title {
  font-size: 3rem;
  font-family: Roboto, serif;
}

.intro {
  font-family: Roboto, sans-serif;
  line-height: 1.7rem;
}
