@import "../../../colors";


@media only screen and (max-width: 400px) {
  .text-header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .image {
    display: none;
  }
  .text-header{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 1001px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .text-header{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.title {
  font-size: 3em;
}

.header {
  background-color: #31525B;
  color: white;
}

.slant {
  background-color: #31525B;
  height: 150px;
  clip-path: polygon(0 90%, 0 -0.2%, 100% -0.2%);
  transform: translateZ(0);
}

.home {
  overflow: hidden;
}

.about {
  font-family: "Montserrat", sans-serif;
}
