@import "../../../colors";

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1201px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  height: 100%;
  box-shadow: 2px 2px 2px 0;
  border-width: 1px;
  border-color: lightgrey;
}

.card-wrapper {
  padding: 0.5rem;
}

.page-title {
  font-weight: 200;
  padding: 2rem 5rem;
  text-transform: uppercase;
  margin: 0;
  background-color: #008073 !important;
  color: #FFFFFF !important;
}

.header {
  background-color: #31525b;
  color: #fff;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.title {
  font-size: 3rem;
  font-family: Roboto, serif;
}

.intro {
  font-family: Roboto, sans-serif;
  line-height: 1.7rem;
}

@media only screen and (max-width: 400px) {
  .header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 401px) and (max-width: 1000px) {
  .header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 1001px) {
  .header {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.card-title {
  font-weight: bold;
  font-size: 1.6rem;
}
.card-body {
  padding-top: 0;
  font-size: 1rem;
}
